

<template name="cabinet">
    <div class="cabinet text-center well well-small">
      {{>objectHeading}}
      {{#if image}}
      <img class="bg" src="{{.}}">
      {{/if}}
      <div class="drawers w{{width}} h{{height}}">
          {{#each drawers}}{{>drawer}} {{/each}}
      </div>
    </div>
</template>



<template name="editCabinet">
  <div class="edit well well-small text-center">
    {{>editHeading}}
    <div class="form-horizontal">

      <div class="control-group">
      <label class="control-label">{{label}}</label>
        <div class="controls">
          <input type="{{type}}" data-key="{{key}}" value="{{value}}">
        </div>
      </div>
    </div>
  </div>
</template>


<template name="drawer">
  <div class="drawer">
      {{#if image}}
      <img class="bg" src="{{.}}">
      {{/if}}
      <p>
          {{label}}
      </p>
  </div>
</template>

