<template name="menu">
  <div class="btn-toolbar">
    <div class="btn-group">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        New
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#new/datasheet"><i class="icon-file"></i> Datasheet</a></li>
        <li><a href="#new/component"><i class="icon-cog"></i> Component</a></li>
        <li><a href="#new/cabinet"><i class="icon-th"></i> Cabinet</a></li>
      </ul>
    </div>
    <div class="btn-group">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        View All
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#list/datasheets"><i class="icon-file"></i> Datasheets</a></li>
        <li><a href="#list/components"><i class="icon-cog"></i> Components</a></li>
        <li><a href="#list/datasheets"><i class="icon-th"></i> Cabinets</a></li>
        <li class="divider"></li>
        <li><a href="#list"><i class="icon-th-list"></i> Everything</a></li>
      </ul>
    </div>
    <div class="btn-group">
        <input type="text" placeholder="Search Tags">
    </div>
  </div>
</template>
